html, body
  height: 100%
  position: relative
  margin: 0
  padding: 0
body
  font-family: 'Signika', sans-serif
  color: #222
  background: #f5f5f5
ul li, p, em
  font-size: 14px
  font-style: normal
  letter-spacing: -0.01em
h1, h2, h3
  font-size: 13px
  font-weight: normal
a
  text-decoration: none
  color: #ADADAD
h1 em, h2 em
  display: block
p, h1, h2
  margin: 0 0 5px 0
ul
  padding: 0
  margin: 0
ul li
  list-style-type: none
strong
  color: #545454
.clear
  clear: both
.divider
  width: 20px
  height: 2px
  background: #CFCFCF
  margin: 30px 0 15px 0
::selection
  background: #333
  color: #fff
  text-shadow: none
.header
  padding: 10px 0
  background: rgba(255, 255, 255, 0.95)
  border-bottom: 1px solid #E9E9E9
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 5
  .container .name-project
    padding-left: 5px
    margin-left: 0
  a
    display: block
    img
      display: block
      width: 32px
      float: left
  a:hover img
    opacity: 0.8
.header-heading
  color: #222
  float: left
  font-size: 15px;
  font-weight: lighter;
  padding: 0 0 0 10px;
  margin: 0;
  line-height: 32px;
.footer
  margin: 30px 0 0 0
  background: #fff
  border-top: 1px solid #EBEBEB
.footer-container
  text-align: center
  padding: 15px 0
  .footer-links li
    display: inline-block
    margin: 0 10px
    a
      color: #868080
      text-transform: uppercase
      font-weight: lighter
      font-size: 14px
    a:hover
      color: #222
      text-decoration: underline
  li:first-child
    margin: 0 10px 0 0
.footer-signature
  padding: 15px 0 0 0
  p
    color: #222
    font-size: 13px
    text-transform: uppercase
    font-weight: lighter
    margin: 0
