.intro
  padding: 70px 0 20px
  background: #fff
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.05)
.intro-links
  padding: 20px 0 0 0
  border-top: 1px solid rgba(0,0,0, 0.1)
  margin: 40px 0 0 0
  ul li
    display: inline-block
    margin: 0 25px 0 0
    a
      color: #222
      font-weight: lighter
      font-size: 16px
    a:hover
      text-decoration: underline
.category-intro-container
  padding: 10px 0 0 0
.intro-title
  font-size: 39px
  margin: 0 0 20px 0
.intro-nutshell
  font-size: 18px
  font-weight: lighter
  line-height: 25px
  color: #868080
  a
    color: #222
    text-decoration: none
  a:hover
    text-decoration: underline
.wrap .main
  margin-top: 70px
.homepage-wrap .main
  margin-top: 40px
.highlights
  margin: 0 0 20px 0
.highlight-title
  text-transform: uppercase
  padding-left: 10px
  font-size: 14px
  strong
    letter-spacing: -0.5px
    font-weight: normal
    word-spacing: 1px
.highlight-entry-blog
  border-top: 1px solid red
.highlight-entry-post
  border-top: 1px solid rgb(48, 141, 255)
.highlight-entry
  background: #fff
  margin: 0 0 20px 0
  padding: 11px 13px 8px 13px
  box-sizing: border-box
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
  h3
    margin: 0 0 5px 0
    font-size: 14px
    color: #222
  a:hover h3
    text-decoration: underline
  .highlight-entry-tag i
    color: #868080
    font-size: 10px
  a:hover .highlight-entry-tag i
    color: #222
  .highlight-entry-tag em
    color: #868080
    font-weight: lighter
    padding: 0 0 0 1px
  a:hover .highlight-entry-tag em
    color: #222
.highlight-entry:hover
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075)
.categories
  margin: 30px 0 0 0
  .cat-title
    text-transform: uppercase
    padding-left: 10px
    font-size: 14px
    strong
      letter-spacing: -0.5px
      font-weight: normal
      word-spacing: 1px
  li.category-page
    margin: 0
.category
  overflow: hidden
.category-item
  background: #fff
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  margin: 0 0 30px 0
  box-sizing: border-box
.category-item:hover
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.075)
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.075)
  box-shadow: 0 2px 3px rgba(0,0,0,.075)
.category-item-content
  padding: 15px 13px 7px 13px
.category-item-anchor:hover
  .category-item-title
    text-decoration: underline
  .category-item-description
    color: #222
.category-item-title
  color: #222
  font-weight: lighter
  font-size: 20px
  margin: 0
.category-item-description
  color: #868080
  font-size: 15px
  font-weight: lighter
  margin: 5px 0
  line-height: 22px
.thumbnail
  margin: 0 0 -5px 0
  img
    width: 100%
