.header-nav
  padding-left: 220px
  ul
    padding: 6px 0 0 0
    li
      display: inline-block
      margin: 0 4px
      a
        margin: 0px
        font-weight: lighter
        font-size: 14px
      a:hover
        color: #323232
        text-decoration: none
    span
      color: #E6E6E6
      font-weight: lighter
.intro
  padding: 70px 0 20px
  background: #fff
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.05)
.intro-links
  padding: 20px 0 0 0
  border-top: 1px solid rgba(0,0,0, 0.1)
  margin: 40px 0 0 0
  ul li
    display: inline-block
    margin: 0 25px 0 0
    a
      color: #222
      font-weight: lighter
      font-size: 16px
    a:hover
      text-decoration: underline
.category-intro
  padding: 10px 0 40px 0
.intro-title
  font-size: 39px
  margin: 0 0 20px 0
.intro-nutshell
  font-size: 18px
  font-weight: lighter
  line-height: 25px
  color: #868080
  a
    color: #222
    text-decoration: none
  a:hover
    text-decoration: underline
.wrap .main
  margin-top: 70px
.hp-wrap .main
  margin-top: 40px
.highlights
  margin: 0 0 20px 0
.highlight-title
  text-transform: uppercase
  padding-left: 10px
  font-size: 14px
  strong
    letter-spacing: -0.5px
    font-weight: normal
    word-spacing: 1px
.highlight-entry
  background: #fff
  padding: 11px 13px 8px 13px
  box-sizing: border-box
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
  h3
    margin: 0 0 5px 0
    font-size: 14px
  a:hover h3
    color: #333
    text-decoration: underline
  .highlight-entry-date em
    color: #C0C0C0
    font-weight: lighter
    font-style: italic
.highlight-entry:hover
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075)
.categories
  li
    margin: 30px 0 0 0
    .cat-title
      text-transform: uppercase
      padding-left: 10px
      font-size: 14px
      strong
        letter-spacing: -0.5px
        font-weight: normal
        word-spacing: 1px
  li.category-page
    margin: 0
.category
  overflow: hidden
  li
    margin: 0 0 20px
    background: #FFFEFC
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05)
    -webkit-transition: 0.1s ease-in-out
    -moz-transition: 0.1s ease-in-out
    -o-transition: 0.1s ease-in-out
    transition: 0.1s ease-in-out
    a
      overflow: hidden
      display: block
    a:hover .text h3
      color: #333
      text-decoration: none
    .thumbnail
      margin: 0
      img
        width: 100%
    .text
      padding: 10px 7px 5px
      h3
        margin: 0 0 5px 0
        font-size: 14px
      .project-date em
        color: #C0C0C0
        font-weight: lighter
        font-style: italic
  li:hover
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075)
