.absolute
  position: absolute
.breadcrumbs-top
  li
    display: inline-block
    a, span
      color: #333
      font-style: normal
    span
      padding: 0 2px
    a:hover
      text-decoration: underline
    p
      color: #868080
      font-style: italic
      font-weight: lighter
      margin: 0
.side-project-list
  margin: 30px 0 0 0
.side-project-anchor:hover
  .side-project-title
    text-decoration: underline
  .side-project-content
    color: #222
.side-project-item
  padding: 15px 20px
  background: #fff
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  margin: 0 0 30px 0
.side-project-title
  color: #222
  font-weight: lighter
  font-size: 22px
  margin: 0
.side-project-content
  color: #868080
  font-size: 16px
  font-weight: lighter
  margin: 5px 0 10px 0
  line-height: 22px
  a
    color: #868080
.side-project-figure
  margin: 0
  img
    width: 100%
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
.media
  position: relative
.image-list li
  position: relative
.image-list li:last-child
  margin-bottom: 40px
.image-list img
  width: 100%
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  border: 3px solid #fff
  box-sizing: border-box
.image-list img:hover
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
.image-list figure
  margin: 0
.image-list figcaption
  font-style: italic
  text-align: center
  padding: 5px 0 0 0
  color: #6b6b6b
.description
  margin: 67px 0 0 10px
  padding: 14px 14px 9px
  position: fixed
  background: #fff
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  p
    word-spacing: 2px
    font-weight: lighter
    line-height: 20px
  em
    font-weight: bolder
  .tags
    margin: 10px 0 0 0
    color: #868080
    line-height: 19px
    i
      font-size: 11px
      word-spacing: 4px
  .client
    font-size: 18px
    word-spacing: 2px
    font-weight: normal
    margin: 0
    a
      color: #222
    a:hover
      text-decoration: underline
      cursor: pointer
  .date
    margin: 5px 0 0 0
  .brief
    margin: 20px 0 0 0
  .brief, .conclusion
    .brief-nutshell
      font-weight: bolder
      margin: 20px 0 -5px
      font-size: 15px
      text-transform: uppercase
      word-spacing: 1px
    p
      margin: 10px 0
      a
        color: inherit
        text-decoration: underline
        cursor: pointer
      a:hover
        text-decoration: none
    p.highlight
      font-style: italic
      em
        font-style: italic
        font-weight: bolder
.bottom-project
  margin: 15px 0 90px 0
  overflow: hidden
  ul
    li
      display: inline-block
      a
        padding: 6px 20px 5px
        background: #e4e4e4
        color: #fff
        font-size: 12px
        display: block
      a:hover
        background: #C4C4C4
        text-decoration: none
    :last-child
      float: right
