@media only screen and (min-width: 960px)
  .description
    position: fixed
@media only screen and (max-width: 959px)
  .header .container .header-inner-offset
    padding-left: 42px
  .description
    position: absolute
@media only screen and (min-width: 768px)
  .description.absolute
    position: absolute
@media only screen and (max-width: 767px)
  .categories .category li, .highlights .highlight-entry--bottom
    margin-bottom: 25px
  .categories li .cat-title, .highlights .highlight-title
    padding-left: 0
  .header .container .header-inner-offset, .header .container .header-inner
    margin-left: -16px
    padding-left: 0
  .content
    margin-top: 20px
  .breadcrumbs-top ul
    padding-left: 0
  .image-list li:last-child
    margin-bottom: 10px
  .media
    padding: 0 0 10px 0
  .description
    margin: 20px 0
    padding: 20px 0
    position: relative
    background: transparent
    box-shadow: none
    border-top: 1px dashed #adadad
    p
      line-height: 20px
@media only screen and (max-width: 479px)
  .intro-nutshell
    line-height: 30px
  .intro-links
    margin: 0
    border-top: none
    ul li
      display: block
      margin: 5px 0
      a
        padding: 10px 0
        display: block
        border-bottom: 1px solid #eee
    .intro-last-link a
      border-bottom: none
@media only screen and (max-width: 340px)
  .header .container .header-inner-offset, .header .container .header-inner
    margin-left: 0px
