@media only screen and (min-width: 960px)
  .description
    position: fixed
  .footer-hp .container .signature
    padding-left: 385px
    width: 140px
  .footer-project .signature
    padding-left: 90px
  .categories .category.list-hp li:first-child
    width: 821px
@media only screen and (max-width: 959px)
  header .container .name-listing
    padding-left: 42px
  header .container .header-nav.five.columns
    width: 260px
    padding-left: 124px
  .bottom-project
    margin: 30px 0 0 0
  .name-listing
    padding-left: 96px
  .description
    position: absolute
  .categories .category.list-hp li:first-child
    width: 652px
  .footer-hp .container .signature
    padding-left: 276px
    width: 140px
  .footer-project .signature
    padding-left: 44px
  .footer-hp .signature, .footer-project .signature
    width: 137px
@media only screen and (min-width: 768px)
  .bottom-project
    margin: 30px 0 0 0
  .description.absolute
    position: absolute
@media only screen and (max-width: 767px)
  header .container .header-nav.five.columns
    display: none
  .container .content-hp
    margin-top: 10px
  .categories .category li, .highlights .highlight-entry--bottom
    margin-bottom: 25px
  .categories li .cat-title, .highlights .highlight-title
    padding-left: 0
  .categories .category.list-hp li:first-child
    width: 421px
  .bottom-project
    margin: 20px 0 90px 0
  header
    -webkit-box-shadow: 0 1px 6px rgba(162, 162, 162, 0.075)
    -moz-box-shadow: 0 1px 6px rgba(162, 162, 162, 0.075)
    box-shadow: 0 1px 6px rgba(162, 162, 162, 0.075)
  header .container .name-listing, header .container .name-project
    margin-left: -16px
    padding-left: 0
  .content-hp, .content-project
    margin-left: 0
  .content
    margin-top: 20px
  .breadcrumbs-top ul
    padding-left: 0
  .image-list li:last-child
    margin-bottom: 10px
  .media
    padding: 0 0 10px 0
  .description
    margin: 20px 0
    padding: 20px 0
    position: relative
    background: transparent
    box-shadow: none
    border-top: 1px dashed #adadad
    p
      line-height: 20px
  .bottom-project
    margin: 40px 0
    ul li a
      padding: 11px 30px 10px
      background: #D6D6D6
  .footer-hp, .footer-project
    margin: 0
    text-align: center
    .container .signature
      width: 420px
      padding-top: 15px
      padding-left: 0
@media only screen and (max-width: 479px)
  .categories .category.list-hp li:first-child
    width: 300px
  .footer-hp .container, .footer-project .container
    .signature
      padding-left: 0
      width: 300px
  .intro-nutshell
    line-height: 30px
  .intro-links
    margin: 0
    border-top: none
    ul li
      display: block
      margin: 5px 0
      a
        padding: 10px 0
        display: block
        border-bottom: 1px solid #eee
    .intro-last-link a
      border-bottom: none
@media only screen and (max-width: 340px)
  header .container .name-listing, header .container .name-project
    margin-left: 0px
